/*Album Page v2 External Style Sheet*/

a {
	text-decoration: none;
			
}

a:link {
	color:#e67300;
}

a:visited {
	color: #930;
}


a:hover {
	text-decoration: underline;
	background-color: #fc6;
}

a:active {
	font-style: italic;
}

background-image {
	background-repeat: repeat;
}
body {
	font-family: Calibri;
}
ul {
	font-size: 14px;
}
table {
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
	background-color: #eb8f32;
}

td {
	font-style: italic;
}

@font-face {
    font-family: 'rio_grande_stripedbold';
    src: url('Font/riogrande_striped.woff2') format('woff2'),
         url('Font/riogrande_striped.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#RioGrande {
			font-family: 'rio_grande_stripedbold';
		}



		